{% extends "base.html" %} {% block content %}
<div class="container-fluid">
    <div class="row" style="min-height: 90dvh">
        <!-- Left Column -->
        <div class="col-md-6 d-flex flex-column">
            <div class="d-flex flex-column h-100">
                <!-- Status Card -->
                <div class="card mb-4">
                    <div class="card-header">Status</div>
                    <div class="card-body">
                        <p>
                            <strong>Agent State:</strong>
                            <span id="agent-state"
                                >{{ agent_state["current_node"] }}</span
                            >
                        </p>
                        <p>
                            <strong>Last Update:</strong>
                            <span id="last-update">{{ agent_state["last_update"] }}</span>
                        </p>
                    </div>
                </div>
                <!-- Task Card -->
                <div class="card flex-grow-1 d-flex flex-column">
                    <div class="card-header">Task</div>
                    <div class="card-body flex-grow-1" style="overflow-y: auto">
                        <p>
                            <strong>Task Title:</strong>
                            <span id="agent-state"
                                >{{ agent_state["task_name"] }}</span
                            >
                        </p>
                        <p>
                            <strong>Task Skill Level:</strong>
                            <span id="agent-state"
                                >{{ agent_state["task_skill_level"] }}</span
                            >
                        </p>
                        <p>
                            <strong>Task Description:</strong>
                        <h5><pre style="white-space: pre-wrap">
{{ agent_state["task_description"] }}</pre></h5>
                        </p>
                    </div>
                </div>
            </div>
        </div>

        <!-- Right Column -->
        <div class="col-md-6 d-flex flex-column">
            <div class="card h-100 d-flex flex-column">
                <div class="card-header">Plan</div>
                <div class="card-body flex-grow-1" style="overflow-y: auto">
                    <pre class="font-monospace" style="white-space: pre-wrap">
{{ plan_content }}</pre
                    >
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
